@import './mixin.scss';
.container {
  width: 1226px;
  margin: 0 auto;
}

a {
  img {
    width: 100%;
    height: 100%;
  }
}
input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}


// 公共logo部分
.header-logo {
  width: 55px;
  height: 55px;
  background-color: #f60;
  .logo-icon {
    display: inline-block;
    width: 110px;
    height: 55px;

    &::before {
      content: "";
      @include bgImg(55px, 55px, "/imgs/mi-logo.png", 55px);
      transition: margin 0.2s;
    }

    &::after {
      content: "";
      @include bgImg(55px, 55px, "/imgs/mi-home.png", 55px);
    }

    &:hover::before {
      margin-left: -55px;
      transition: margin 0.2s;
    }
  }
}