// flex布局复用
@mixin flex($hov:space-between, $col:center ) {
  display: flex;
  justify-content: $hov;
  align-items: $col;
}

// 背景图片复用
@mixin bgImg($w:0, $h:0, $src:'', $size: contain) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($src) no-repeat center;
  background-size: $size;
}